<!-- Individual voter information page-->
<div id="show-page">
    <h1><%= @voter.first_name %> <%= @voter.last_name %></h1>

    <p><strong>Address:</strong> <%= @voter.address %></p>

    <p><strong>City:</strong> <%= @voter.city %></p>

    <p><strong>State:</strong> <%= @voter.state %></p>

    <p><strong>Zip:</strong> <%= @voter.zip %></p>

    <%= link_to 'Back', voters_path, :class => "btn btn-default" %>
</div>